body {
    margin: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: #FEFAE0;
}

.stevenson-img {
    width: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #a69d88;
    border: 2px solid #a69d88;

    transition-duration: 0.3s;
}

.stevenson-img:hover {
    transform: scale(1.05);
}

.card {
    display: flex;
    width: 400px;
    color: #2b2839;

    margin: 0 auto;
    padding: 20px;
    border: 3px solid #a69d88;
    border-bottom: 6px solid #D4A373;
    border-radius: 5px;
    
    justify-content: space-around;
    text-align: center;
    text-shadow: 2px 2px 5px #a69d88;
    
    animation: background-color 2s alternate infinite;
}

@keyframes background-color {
    from {background-color: #E9EDC9;}
    to {background-color: #ccd5ae;}
}

.hover:hover {
    transform: scale(1.05);
}

.hover {
    transition-duration: 0.3s;
}

.dotted-blue-border {
    border: 1px dotted blue;
}

h3 {
    margin: 15px;
    font-size: x-large;
}

p {
    margin: 0;
}

.info:hover {
    transform: scale(1);
}